@import url('https://fonts.googleapis.com/css?family=Gothic+A1'); 

body {
     margin: 0px;
    font-family: 'Gothic A1';
    overflow-x: hidden;
 }

p{
    text-indent: 5px;
    
}

blockquote {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 50px;
padding-left: 15px;
border-left: 3px solid #ccc;
    font-style: italic;
}

table{
    padding:5px;
}

  .inbody{
            text-align: center;
            margin: 5px;
            right: 50px;
            display: inline-block;
            float:right;
      border-collapse: collapse;
      font-size: 14px;
            
        }

th, td{
    border: 1px solid #d6d6d6;
    padding: 3px;
}

 div {

     box-sizing: border-box;
     margin: 0px auto;
     transition-duration: 0.7s;
 }

 #wrapper {
     float: left;     
     width: 90%;
     max-width: 1000px;
     height: 100%;
     margin-left: 50px;
     padding-left: 25px;
     padding-right: 50px;

 }

 ul {
     overflow: hidden;
     padding: 0px 0px;
     height: 100%;
     margin: 0px;
     /*여기*/
 }

 li {
     box-sizing: border-box;
     list-style: none;
     width: 150px;
     height: 30px;
     padding-top: 5px;
     /*여기*/
     text-align: left;
 }

 li:hover {
     background-color: crimson;
 }

 li a {
     display: block;
     /*inline은 컨텐츠 크기에 맞게 사이즈가 자동조절되므로 block 방식으로 바꿈*/
     width: 100%;
     color: white;
     text-decoration: none;
 }



 #header,
 #content,
 #footer {
     width: 100%;
 }

 #leftside-navi {
     width: 150px;
     height: 100%;
     background-color: black;
     color: white;
     position: fixed;
     /*float:left와 비슷한 효과(viewport로 올라옴)*/
     left: -100px;
     float: left;
     padding: 10px
 }

 #leftside-navi:hover, #leftside-navi:focus {
     left: 0px;

 }

 /* menu 글자 안나오게 하기*/

 #leftside-navi:hover #menu {
     
     display: none;
 }

 #menu {
     color: aliceblue;
     position: absolute;
     right: -8px;
     bottom: 50%;
     /*absolute에 %값 부여 가능*/
     text-align: center;
     transform: rotate(270deg);

 }



 #header {
     height: 60px;

 }

 #content {
     height: 75%;
     
 }

 #footer {
     height: 10%;
     padding: 10px 0px;
     text-align: right;
     
 }

#footer::before{content:"Copyright (c) 1997-2005"}

figcaption{
    padding-left: 250px;
}